@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@400; 600&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    /*height: 100vh; /*ajustando altura da tela*/
    box-sizing: border-box;/*controlando o Overflow com Box Sizing*/
    background-color: #7fffd4;
    color: #A32AF7
}
.cabecalho {
    padding: 2% 0% 0% 8%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    color: #22D4FD;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    
}
.cabecalho__menu__link:hover {
    color: #ff0000;
    border: 2PX solid #0000ff;
    cursor: pointer;
}
.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 8%;
   
}
.apresentacao__conteudo {
    width: 615px;
    height: 482px;
}
.apresentacao__conteudo__titulo {
    color: #007bff;
    font-size: 36px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;  
}
.texto-destaque-h {
    color: #7b68ee;
    /*usando Classe para marcar parte do <h1>*/
}
.apresentacao__conteudo__texto {
    color: #007bff;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
   
    /*usando Classe para marcar parte do <p>*/
}
.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    color: #0000cd;
}
.apresentacao__links__link {
    /*background-color: #22d4fd;*/
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px groove #22d4fd;
    width: 280px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: #0000cd;
    font-family: "Montserrat", sans-serif;
 }
 .apresentacao__links__link:hover {
    color: #ff0000;
    border: 2PX solid #0000ff;
    background-color: #272727;
    cursor: pointer;
 }
 .imagem {
    width: 500px;
    justify-content: right;
    align-items: center;
}
.rodape__menu__link {
    background-color: #22d4fd;
    color: #000000;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    padding: 24px;
    
}
.rodape__menu__link:hover {
    color: #ff0000;
    border: 2PX solid #0000ff;
    background-color: #272727;
    cursor: pointer;
 }
